.down-arrow {
  position: relative;
  background: #fff;
  margin-top: 75px;

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 30px;
    margin-left: -30px;
  }
}
