/* Additional Reset */
a {
    color: inherit;
    text-decoration: none;
}

:root {
    --line-height: 3.2rem; /* 32px */
    --character-width: calc(var(--line-height) / 2); /* 16px */
    --border-size: calc(var(--line-height) / 8); /* 4px */
    --default-padding: calc(var(--line-height) / 4) calc(var(--line-height) / 8); /* 8px 4px */
    --column-width: 2.0rem;
    --font-weight: 800;
}

html {
    font-size: 62.5%
}

@media (max-width: 600px) {
    html {
        font-size: 31.25%;
    }
}

/* Rest of css */
body {
    font-family: "Courier", "Courier New", monospace;
    font-weight: var(--font-weight);
    background-color: #00a;
    color: #aaa;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: var(--line-height);
}

.nav-container label {
    cursor: pointer;
}

.nav-container > label {
    display: none;
    background-color: #aaa;
    color: #000;
}

.nav-container input {
    position: absolute;
    top: -1000px;
}

.main-nav {
    background-color: #aaa;
    color: #000;
}

.main-nav li {
    margin: 0;
}

.main-nav > ol {
    display: flex;
}

.main-nav > ol > li {
    position: relative;
}

.main-nav > ol > li:last-child {
    margin-left: auto;
}

.nav-container > label::before,
.nav-container > label::after,
.main-nav > ol::before,
.main-nav > ol::after,
.main-nav > ol > li::before,
.main-nav > ol > li::after {
    content: "\00a0 ";
}

.main-nav input:checked ~ nav,
.main-nav > ol > li:hover > .sub-nav {
    display: flex;
}

.sub-nav {
    position: absolute;
    z-index: 1;
    left: calc(var(--line-height) / 4); /* 8px */
    display: none;
    align-items: stretch;
    flex-direction: column;
    background-color: #aaa;
    padding: var(--default-padding);
}

.main-nav > ol > li:last-child > .sub-nav {
    right: calc(var(--line-height) / 4); /* 8px */
    left: unset;
}

.sub-nav > ol {
    display: block;
    flex-direction: column;
    border: var(--border-size) solid #000;
    border-top: none;
    padding: var(--default-padding);
}

.sub-nav > ol:first-child {
    border: var(--border-size) #000 solid;
}

.sub-nav > ol > li > a {
    display: flex;
    white-space: nowrap;
}

.sub-nav > ol > li > a:hover {
    background-color: #000;
    color: white;
}

@media (max-width: 800px) {
    .nav-container > label {
        display: flex;
    }

    .main-nav {
        display: none
    }

    .nav-container input:checked ~ nav,
    .nav-container:hover .main-nav {
        display: block;
    }

    .nav-container .main-nav ol {
        flex-direction: column;
    }

    .main-nav > ol::before,
    .main-nav > ol::after {
        content: none;
    }

    .main-nav > ol > li:last-child {
        margin-left: unset;
    }

    .main-nav > ol > li:last-child > .sub-nav {
        right: unset;
    }

    .main-nav > ol > li > .sub-nav,
    .main-nav > ol > li:last-child > .sub-nav {
        left: calc(var(--line-height) * 7);
        top: calc(var(--line-height) * -.5);

    }
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: var(--border-size) solid #a8a8a8;
    margin: calc(var(--line-height) / 2) calc(var(--line-height) / 4);
    padding: calc(var(--line-height) / 2) calc(var(--line-height) / 4);
    height: calc(100vh - calc(3 * var(--line-height)));
}

article a {
    color: #fff;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden scroll;
    min-height: 100%;
    margin: 0 var(--character-width) 0 0;
}

h1 {
    margin: calc(var(--line-height) * -1) auto 0;
    display: inline-block;
    color: #00a;
    background-color: #aaa;
}

h1::before, h1::after {
    content: "\00a0 "
}

h2 {
    display: inline-block;
    background-color: #aaa;
    color: #000;
    margin: var(--line-height) 0 0;
}

.modal.splash.show {
    display: flex;
}

.modal.splash {
    flex-direction: column;
    margin: auto;
    padding: calc(var(--line-height) / 2);
    background-color: #aaa;
    color: #000;
}

.modal.splash div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--line-height) var(--line-height);
    border: var(--border-size) #000 solid;
    border-top: none;
    text-align: center;
}

.modal.splash div:first-child {
    border: var(--border-size) #000 solid;
}

p, li {
    margin: var(--line-height) 0 0;
}

.modal a.button {
    display: flex;
    align-items: center;
    color: #000;
}

.modal a.button::before {
    content: "<\00a0 "
}

.modal a.button::after {
    content: "\00a0 >";
}

.modal a.button:focus::before,
.modal a.button:hover::before,
.modal a.button:focus::after,
.modal a.button:hover::after {
    color: #fff;
}

.scrollbar {
    position: absolute;
    top: calc(var(--line-height) * 3);
    right: 0;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24px' width='16px'><text x='0' y='15' fill='black' font-size='32'>░</text></svg>");
    background-repeat: repeat;
    height: calc(100% - calc(5 * var(--line-height)));
    width: var(--column-width);
    align-self: end;
    color: #000;
}

.scrollbar::after, .scrollbar::before {
    left: 0;
    position: absolute;
    background-color: #aaa;
    font-weight: bold;
    width: var(--column-width);
    text-align: center;
    line-height: var(--line-height);
}

.scrollbar::before {
    content: "↑";
    top: calc(-1 * var(--line-height));
}

.scrollbar::after {
    content: "↓";
    bottom: calc(-1 * var(--line-height));;
}

.scrollbar div {
    position: absolute;
    height: var(--line-height);
    width: var(--column-width);
    background-color: #000;
}

.modal.open {
    --width: 80rem;
    --height: 40rem;
    position: absolute;
    background-color: #aaa;
    color: #000;
    width: var(--width);
    height: var(--height);
    left: calc(50% - calc(var(--width) / 2));
    top: calc(50% + var(--line-height) - (var(--height) / 2));
}

.modal.open .file-select input {
    display: none;
}

.modal.open .file-select {
    margin: 0;
}

.modal.open .file-select label {
    cursor: pointer;
}

.modal.open a.disabled {
    pointer-events: none;
    color: #888;
}

.modal {
    display: none;
}

.modal.show {
    display: flex;
}

.modal.open label {
    display: flex;
    line-height: var(--line-height);
    align-items: center;
}

.modal.open input {
    font-family: "Courier", "Courier New", monospace;
    font-weight: var(--font-weight);
    font-size: var(--line-height);
    background-color: #aaa;
    border: var(--border-size) solid #000;
    flex-grow: 1;
    line-height: var(--line-height);
}

.modal.open div {
    display: flex;
    flex-direction: column;
}


.modal.open > div {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    /*height: calc(100% - var(--line-height));*/
    /*width: calc(100% - var(--column-width) * (1 / 3));*/
    border: var(--border-size) #000 solid;
    margin: calc(var(--line-height) / 2) calc(var(--line-height) / 8) calc(var(--line-height) / 4);
    padding: var(--default-padding);
}

.modal.open h2 {
    margin: 0 auto;
    display: inline-block;
    color: #000;
    background-color: #aaa;
}

.modal.open h2::before,
.modal.open h2::after {
    content: "\00a0 ";
}

.modal.open .lists {
    flex-direction: row;
    flex-grow: 1;
}

.modal.open .lists ul {
    flex-grow: 1;
    border: var(--border-size) #000 solid;
    margin: var(--default-padding);
    padding: var(--default-padding);
}

.modal.open .lists ul li:first-child {
    margin-top: 0;
}

.modal.open .lists div:first-child {
    flex-grow: 1;
}

.modal.open .buttons {
    display: flex;
}

.modal.open .buttons {
    flex-direction: row;
    justify-content: space-evenly;
}

#page-homelab li {
    display: flex;
    margin-top: 0;
}

#page-homelab li:before {
    margin: 0 var(--column-width);
    content: '▪';
}

body:has(#page-about) {
    background-color: #000;
}

body:has(#page-about) h1 {
    color: #000;
}

.daniel {
    text-wrap: nowrap;
}
