/* Additional Reset */
a {
    color: inherit;
    text-decoration: none;
}

:root {
    --font-size: 3.2rem;
    --border-size: calc(var(--font-size) / 8);
    --default-padding: calc(var(--font-size) / 4) calc(var(--font-size) / 8); /* 8px 4px */
}

html {
    font-size: 62.5%
}

/* Rest of css */
body {
    font-family: "Courier", "Courier New", monospace;
    font-weight: 800;
    background-color: #00a;
    color: #aaa;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}

.main-nav {
    background-color: #aaa;
    color: #000;
}

.main-nav li {
    margin: 0;
}

.main-nav > ol {
    display: flex;
}

.main-nav > ol > li {
    position: relative;
}

.main-nav > ol > li:last-child {
    margin-left: auto;
}

.main-nav > ol::before {
    content: "\00a0 "
}

.main-nav > ol::after {
    content: "\00a0 "
}

.main-nav > ol > li::before, .main-nav > ol > li::after {
    content: "\00a0 "
}

.main-nav > ol > li:hover > .sub-nav {
    display: flex;
}

.sub-nav {
    position: absolute;
    left: calc(var(--font-size) / 4); /* 8px */
    display: none;
    align-items: stretch;
    flex-direction: column;
    background-color: #aaa;
    padding: var(--default-padding);
}

.main-nav > ol > li:last-child > .sub-nav {
    right: calc(var(--font-size) / 4); /* 8px */
    left: unset;
}

.sub-nav > ol {
    display: block;
    flex-direction: column;
    border: var(--border-size) solid #000;
    border-top: none;
    padding: var(--default-padding);
}

.sub-nav > ol:first-child {
    border: var(--border-size) #000 solid;
}

.sub-nav > ol > li > a {
    display: flex;
    white-space: nowrap;
}

.sub-nav > ol > li > a:hover {
    background-color: #000;
    color: white;
}

article {
    display: flex;
    flex-direction: column;
    border: var(--border-size) solid #a8a8a8;
    margin: 12px 8px;
    padding: 12px 8px;
    min-height: 100%;
    flex-grow: 1;
}

h1 {
    margin: -32px auto 0;
    display: inline-block;
    color: #00a;
    background-color: #aaa;
}

h1::before, h1::after {
    content: "\00a0 "
}

h2 {
    display: inline-block;
    background-color: #aaa;
    color: #000;
    margin: var(--font-size) 0 0;
}

.splash {
    margin: auto;
    padding: 16px;
    background-color: #aaa;
    color: #000;
}

.splash div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--font-size) var(--font-size);
    border: var(--border-size) #000 solid;
    border-top: none;
    text-align: center;
}

.splash div:first-child {
    border: var(--border-size) #000 solid;
}

p, li {
    margin: var(--font-size) 0 0;
}

.splash a {
    color: #000;
}

.splash a::before {
    content: "<\00a0 "
}

.splash a:focus::before,
.splash a:hover::before,
.splash a:focus::after,
.splash a:hover::after {
    color: #fff;
}

.splash a::after {
    content: "\00a0 >";
}

article a {
    color: #fff;
}
